.custom-form-input {
  padding: 0px 20px 0px 20px;
  font-size: 16px;
  border: solid 1px #dedede;
  height: 50px;
  width: 100%;
}

.custom-form-input-wrapper {
  padding: 0px 30px 0px 30px;
  width: 100%;
}

.error-text{
  position: absolute;
}
