.signup-button {
  font-size: 20px;
  height: 50px;
}

.sso-signup-wrapper {
  padding: 20px 20px 20px 20px;
  background-color: white;
  .another-email{
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
  }
}
